.banner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #f9f1e4;


}
.lalala{
  background-color: #f9f1e4;

}
.text-content {
  flex-basis: 50%;
  padding: 20px;
}

.text-content h1 {
  font-size: 2em;
  color: #333;
}

.text-content p {
  font-size: 1em;
  color: #666;
}

.media-content {
  flex-basis: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.media-content img {
  width: 100%;
  border-radius: 15px;
}

.play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2em;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 50%;
  padding: 10px 20px;
  cursor: pointer;
}

@media (max-width: 768px) {

  .text-content,
  .media-content {
    flex-basis: 100%;
    text-align: center;
  }
}

.containeeer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}

.achievement {
  background-color: #c5f1f4;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  flex-basis: calc(33% - 40px);
  text-align: center;
}

.achievement .icon {
  font-size: 45px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  background: #2b614f;
}

.achievement .number {
  font-size: 2em;
  color: #333;
}

.achievement .description {
  font-size: 2.8vmin;
  color: #2b614f;
  font-weight: 500;
}

@media (max-width: 768px) {
  .achievement {
    flex-basis: calc(50% - 40px);
  }
}

@media (max-width: 480px) {
  .achievement {
    flex-basis: 100%;
  }
}

.achivmenet>h1 {
  font-size: 4vmin;
  text-align: center;
  margin: 0 auto;
  color: #663300;
}

.icon {
  /* padding: 1px; */
  margin: 0 auto;
  width: 15vmin;
  box-shadow: inset 0px 0px 0px 2px white;
  height: 15vmin;

  border-radius: 50%;
  border: 1px solid;
}

.icon>.number {
  color: white;
  font-weight: 600;
  /* border: 1px solid; */
  margin: 0 auto;
  align-items: center;
  /* display: flex; */
  font-size: 3vmin;
}
.sa1 {
  background-color: #f9f1e4;

  width: 100%;
}
@media (min-width: 1400px) {
  .lalala {
    background-color: #f9f1e4;
    max-width: 1320px;
    margin: 0 auto;
  }
}